/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}:read-only
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background-color: #efefef;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: yellow;
}

#header {
	height: 150px;
	position: relative;
	top: 0;
	left:0;
	padding-left: 150px;
	background-image: url(img/logo-placeholder-png.png), url(img/bg.jpeg);
	background-size: 150px, cover;
	background-position-y:center, center;
	background-repeat: no-repeat, no-repeat;
	background-color:rgb(63, 99, 99);
}

#header h1 span{
	position: relative;
	top: 40px;
	display: inline-block;
	padding: 0 10px 0 10px;
	font-size: 50px;
	text-overflow: inherit;
	color: whitesmoke;
	background-color: black;
}

#header h2 span{
	position: relative;
	top: 40px;
	display: inline-block;
	padding: 0 10px 0 10px;
	font-size: 25px;
	text-overflow: inherit;
	color: black;
	background-color: #efefef;
}

@keyframes menuBgColor{
	0% {
	}
	50% {
		background-color: red;
	}
	100% {

	}
}

#menu {
	height: 36px;
	background-color:black;
	animation-name: menuBgColor;
	animation-duration: 4s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	color: #efefef;
	display: inline-flex;
	text-indent: 20px;
	font-size: 30px;
	font-variant: small-caps;
	font-variant-caps: all-small-caps;
}

#content {
	width: 95%;
	font-size: 20px;
	color: darkslategrey;
	display: block;
	line-height: 1.5em;
	margin: 20px;
}


#content p {
	display: block;
	padding-bottom: 1em;
}

@keyframes imagefadein {
	0%{opacity: 0;}
	100% {visibility: visible;}
}

#picDiv {
	animation-name: imagefadein;
	animation-duration: 4s;
	animation-iteration-count: initial;
	width: 20rem;
	float: left;
	margin-right: 20px;
	padding: 8px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
}

#picDiv img {
width: 100%;
}

#content figcaption {
	font-size: medium;
	text-align: center;
	margin-top: 8px;
}



#footer {
	height: 60px;
	background-color: black;
	color: #efefef;
	position: relative;
	top: 0;
	bottom: 0;
}

#footerMessage {
	position: absolute;
	display: inline;
	top:20px;
	left: 20px;
}

#footer a{
	color: yellow;
}

#footer a:hover {
	background-color: #efefef;
	color: black;
}