html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: aliceblue;
    font-variant: small-caps;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 50%;
    height: 20rem;
    text-align: center;
    background-color: cornflowerblue;
}